# Core dependencies
streamlit
streamlit-plotly-events
pandas
plotly
mplsoccer
matplotlib
seaborn
numpy
joblib

# Scikit-learn ecosystem
scikit-learn
imbalanced-learn
xgboost


# Model hubs
huggingface_hub

