# Core dependencies
streamlit
streamlit-plotly-events
pandas
plotly
mplsoccer
matplotlib
seaborn
numpy
joblib

# Scikit-learn ecosystem
scikit-learn
imbalanced-learn
xgboost

# Embeddings + ML
gensim==4.3.1

# Model hubs
huggingface_hub

